# Top-most EditorConfig file
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Java files
[*.java]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 100

# Java package-info and module-info files
[package-info.java]
indent_style = space
indent_size = 4

[module-info.java]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = off

# Python files
[*.py]
indent_style = space
indent_size = 4
tab_width = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2
tab_width = 2

# YAML files
[*.yml]
indent_style = space
indent_size = 2
tab_width = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2
tab_width = 2

# Shell scripts
[*.sh]
end_of_line = lf
insert_final_newline = true

# Ignore minified files
[*.min.js]
max_line_length = off
trim_trailing_whitespace = false

# C/C++ files
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
tab_width = 4

# HTML files
[*.html]
indent_style = space
indent_size = 2
tab_width = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2
tab_width = 2
